html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
  font-family: 'Coda', cursive;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
  width: 660px;
  min-height: 680px;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
}

.deck .card {
  height: 125px;
  width: 125px;
  background: #2e3d49;
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

@media screen and (max-width: 660px) {
  .deck {
    width: 95%;
    padding: 12px;
  }

  .deck .card {
    width: 100px;
    height: 100px;
    margin: 10px 10px;
  }
}

@media screen and (max-width: 530px) {
  .deck {
    min-height: 500px;
  }
  .deck .card {
    width: 90px;
    height: 90px;
    margin: 5px 5px;
  }
}

@media screen and (max-width: 450px) {
  .deck {
    min-height: 400px;
  }
  .deck .card {
    width: 80px;
    height: 80px;
    margin: 5px 5px;
  }
}

@media screen and (max-width: 410px) {
  .deck {
    min-height: 380px;
  }
  .deck .card {
    width: 70px;
    height: 70px;
    margin: 5px 5px;
  }
}

@media screen and (max-width: 380px) {
  .deck {
    min-height: 360px;
  }
  .deck .card {
    width: 60px;
    height: 60px;
    margin: 5px 5px;
  }
}

.deck .card.open {
  transform: rotateY(0);
  background: #02b3e4;
  cursor: default;
}

.deck .card.show {
  font-size: 33px;
}

.deck .card.match {
  cursor: default;
  background: #02ccba;
  font-size: 33px;
}

.deck .card.not-match {
  cursor: default;
  background: #EB005C;
  font-size: 33px;
}

.ui.icon.header .icon {
  display: inline-block;
  font-size: 2em;
  color: #ECB02E;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
  text-align: left;
  width: 345px;
  margin-bottom: 10px;
}

.score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

.score-panel .stars li {
  list-style: none;
  display: inline-block;
}

.score-panel .restart {
  float: right;
  cursor: pointer;
}
